<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>

<body class="container mt-5">

  <ul class="nav nav-tabs" role="tablist"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li class="nav-item" role="presentation">
      <a class="btn btn-info  btn-md" href="../"> HOME 🏠 </a> &nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item" role="presentation">
      <a class="btn btn-info  btn-md" href="/citas"> CITAS 📅 </a> &nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item" role="presentation">
      <a class="btn btn-info  btn-md" href="/clientes"> CLIENTES 👤</a> &nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item" role="presentation">
      <a class="btn btn-info  btn-md" href="/medicos"> MASCOTAS 🐕</a> &nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item" role="presentation">
      <a class="btn btn-info  btn-md" href="/func"> FUNCIONARIOS 👨🏻‍⚕️</a> &nbsp;&nbsp;&nbsp;
    </li>
  </ul>














    <div class="alert alert-info display-1 text-center"> LISTADO DE MEDICOS </div>

    {% if medicos %}

    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>RUT</th>
                <th>NOMBRE</th>
                <th>ESPECIALIDAD</th>
            </tr>
        </thead>
        <tbody>
            {% for medic in medicos %}
            <tr>
                <td> {{ medic.rut  }}</td>
                <td> {{ medic.nombre  }}</td>
                <td> {{ medic.especialidad  }}</td>
                <td><a class="btn btn-primary btn-sm" href="/editarmedicos/{{ medic.id }}"  role="button"> Actualizar📝 </a></td>
                <td><a class="btn btn-primary btn-sm" href="/eliminarmedicos/{{ medic.id }}"  role="button"> Eliminar ❌ </a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}

    <div class="alert alert-primary" role="alert">
        <strong> No se encontro medico en le sistema </strong>
    </div>

    {% endif %}

<!-- rutas de los URL -->
    <a href="../" class="btn btn-danger"> VOLVER </a>
    <a href="../addmedicos" class="btn btn-info float-end"> AGREGAR MEDICO</a>




    
</body>
</html>